* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
html {
  overflow-x: hidden;
}
.main {
  width: 100vw;
  height: 80vh;
  background: url(../img/main_screen.jpg) no-repeat;
  background-position: 0 0;
}
.main a {
  text-decoration: none;
}
.head {
  background-color: rgba(30, 120, 255, 0.1);
  padding: 20px ;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.5fr;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
.head * {
  color: white;
}
.logo {
  display: flex;
}
.navigation {
  display: flex;
  justify-content: space-between;
}
.tag_line {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 13%;
}
.tag_line .tag_h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
}
.tag_line .tag_time {
  display: flex;
  flex-direction: row;
  width: 500px;
  margin-top: 16px;
  justify-content: space-between;
}
.tag_line .tag_time .tag_time_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #121212;
  color: white;
  width: 110px;
  height: 110px;
}
.cabinet a {
  box-sizing: border-box;
  margin-left: 30%;
}
.button {
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  padding: 10px 30px;
  border-radius: 50px;
  text-decoration: none;
}
.button_2 {
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  padding: 10px 30px;
  border-radius: 50px;
  text-decoration: none;
  color: white;
}
.buy_course {
  box-sizing: border-box;
  width: 100vw;
  height: 20vh;
  padding-left: 10%;
  padding-right: 10%;
  color: rgba(255, 255, 255, 0.5);
  background-color: #121212;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
}
.buy_course .info_students {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 35%;
  align-items: center;
}
.buy_course .top_sell {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  height: 35%;
  align-items: center;
}
.buy_course .top_sell .top_sell_bar {
  width: 100% ;
  height: 5px;
  background-color: white;
}
.buy_course .top_sell .top_sell_bar::before {
  display: block;
  content: " ";
  height: inherit;
  width: 70%;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}
.buy_course .top_sell .money {
  display: flex;
  justify-content: space-between;
}
.background_mid {
  background: url(../img/bgc.png);
}
.about_us {
  box-sizing: border-box;
  padding-top: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 3%;
  width: 100vw;
  height: 70vh;
  padding: 3% 7%;
  margin: 0;
  justify-items: center;
  align-items: center;
}
.main_img {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}
.rect {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  min-width: 200px;
  min-height: 200px;
  width: 500px;
  height: 500px;
  border: 23px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.comp {
  max-width: 500px;
  max-height: 500px;
  position: absolute;
  top: 17%;
  left: 5%;
  margin: 0;
}
.comp img {
  width: 100%;
  height: 100%;
}
.about_us_info {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-right: 5%;
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.about_us_info div:last-child {
  padding-top: 50px;
}
.starts {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 20px;
  box-sizing: border-box;
  width: 100vw;
  height: 30vh;
  padding-left: 7%;
  padding-right: 7%;
  color: white;
}
.starts p {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}
.starts h1 {
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0em;
  text-align: left;
}
.starts h1::before {
  content: url(../img/EllipseStroke.png);
  width: 64px;
  height: 64px;
}
