@gradient_1   : linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
@gradient_2   : linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
@background_2 : rgba(18, 18, 18, 1);
@background_3 : rgba(53, 53, 53, 0.829);
@info_color    : rgba(255, 255, 255, 0.5);










*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
html {
    overflow-x: hidden;
}



.main {
   
    width: 100vw;
    height: 80vh;
    background: url(../img/main_screen.jpg) no-repeat;
    background-position: 0 0;
    
    
    
    
    a {
        text-decoration: none;
    }
}
.head {
    *{
        color: white;
    }
    
    background-color: rgba(30, 120, 255, 0.1);
    padding: 20px ;
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.5fr;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    
    
   
}
.logo {
    display: flex;
    
    
    
}
.navigation {
    display: flex;
    justify-content: space-between;
    
}

.tag_line {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 13%;


    .tag_h1 {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;


    }


    .tag_time {
        display: flex;
        flex-direction: row;
        width: 500px;
        margin-top: 16px;
        justify-content: space-between;
        
       

        .tag_time_item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            background: rgba(18, 18, 18, 1);
            color: white;
            width: 110px;
            height: 110px;

            
        }
    }
}



.cabinet {
    
    a {
        box-sizing: border-box;
        margin-left: 30%;
    }
}
.button { 
    background: @gradient_1;
    padding: 10px 30px;
    border-radius: 50px;
    text-decoration: none;

}
.button_2{ 
    background: @gradient_2;
    padding: 10px 30px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    
}
.buy_course {
    box-sizing: border-box;
    width: 100vw;
    height: 20vh;
    padding-left: 10%;
    padding-right: 10%;
    color:@info_color;
    background-color:@background_2;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    
    align-items: center;
    
    .info_students{
        display: grid;
        grid-template-rows: 1fr 1fr;
        height: 35%;
        align-items: center;
       
    }
    

    .top_sell{
        display: grid;
        grid-template-rows: repeat(3,1fr);
        height: 35%;
        align-items: center;
        

        .top_sell_bar{
            width: 100% ;
            height: 5px;
            background-color: white;
    
            &::before {
                display: block;
                content: " ";
                height: inherit;
                width: 70%;
                background: @gradient_2;
                
            }
              
        }
    
        .money {
            display: flex;
            justify-content: space-between;
        }
    }

}
.background_mid {
    background: url(../img/bgc.png) ;
   
    
}

.about_us {
    box-sizing: border-box;
   
    padding-top: 150px;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 0 3%;
    
    width: 100vw;
    height: 70vh;
    padding: 3% 7%;
    margin-left: auto;
    margin-right: auto;

    justify-items: center;
    align-items: center;
    
}
.main_img {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    
    
}
.rect {
    box-sizing: border-box;
    display: flex;
    margin: 0;
    min-width: 200px;
    min-height: 200px;
    width:500px;
    height:500px;

    border: 23px solid transparent;
    border-image-slice: 1;
    border-image-source: @gradient_1;
    
}
.comp{
    max-width:500px;
    max-height: 500px;
    position: absolute;
    top: 17%;
    left: 5%;
    margin: 0;
    img {
        width: 100%;
        height: 100%;
    }
    

}
.about_us_info {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-right: 5%;
    color: white;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
     div:last-child {
         padding-top: 50px;
         padding-bottom: 100px;
     }
    
    
}
.start {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1px;
    justify-content: center;
    
    padding-left: 7%;
    
    width: 100vw;
    height: 400px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    color: white;

    p {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
        color: @info_color;
        
    }

    h1 {
        font-family: Roboto;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 67px;
        letter-spacing: 0em;
        text-align: left;

        &::before {
            content: url(../img/EllipseStroke.png);
            width: 64px;
            height: 64px;
        }

    }
    h2 {
        font-family: Roboto;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 67px;
        letter-spacing: 0em;
        text-align: left;
        &::before {
            content: url(../img/EllipseStroke3.png);
            width: 64px;
            height: 64px;
        }

    }

}

.start_info {

    width: 100vh;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-content: center;

    .start_info_item {
        display: grid;
        grid-template-rows: 0.5fr 1fr 1.5fr;
        align-items: center;
        
    }


    .item_block_1 {
        height: 50%;
        background: @gradient_1;
    }
    .item_block_2 {
        height: 30%;
        background: @gradient_1;
    }
    .item_block_3 {
        height: 20%;
        background: @gradient_1;
    }
    .item_block_4 {
        height: 10%;
        background: @gradient_1;
    }

    h2{
        color: white;
    }
    p{
        color: @info_color;
    }

}
.tag_centers{
    width: 100vw;
    height: 600px;
    display: grid;
    grid-row: 0.1fr 1fr;

    .tag_center_content {

        h2 {
            color: white;
            font-family: Roboto;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 67px;
            letter-spacing: 0em;
            text-align: center;
            
        }
       
    }
    .tag_center_content_2nd {
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-right: 7%;
        padding-left: 7%;
        justify-content: space-between;
        
        .tag_center_content_item {
            display: grid;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 70%;

            h4  {
                color: white;
                font-family: Roboto;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 34px;
                letter-spacing: 0em;
                text-align: center;
                
            }
        }

        p {
            color: @info_color;
        }
    }



}

.brands {
    display: grid;
    grid-row: 0.1fr 1fr;
    grid-row-gap: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-left: 7%;
    padding-right: 7%;
    justify-content: center;
    align-items: center;

    .brands_content{
        color: white;
        font-family: Roboto;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 67px;
        letter-spacing: 0em;
       
     
    }
    .brands_content_2 {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        justify-content: center;
        align-items: center;
        justify-items: center;
        grid-gap: 20px;
    
    }
}
.programm {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    .a {
        border-right: 1px solid @info_color ;
        text-align: right;
        padding-right: 5px;
        
    }
    .b {
        text-align: left;
        padding-left: 5px;

    }
    .programm_content {
        display: grid;
        grid-template-rows: repeat(7,1fr);
        grid-row-gap: 20px;
        



        p{
            color: @info_color;
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            
            
        }
        h4 {
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: right;
            
        }
    }
}










